@import url("https://fonts.googleapis.com/css?family=Rancho");
body{
    overflow: hidden;
}
.wrapper{
    display: grid;
    grid-template-rows: 2;
    justify-content: center;
    padding-block: 45vh;
    padding-inline: 35vw;
}
.components{
    padding-left : 5vw;
    font-family: '';
}
.clock{
    display: flex;
    border: 2px solid black;
    padding: 0.5vw;
    border-radius: 2rem;
}
.Morning{
    background-image: linear-gradient(to right,#f7e2a1,#f7c77c,#f7eec9);
}
.Night{
    background-image: linear-gradient(to bottom,#2b2a33,rgba(0, 0, 0, 0.697));
}
.nightClock{
    box-shadow: 1px 1px rgb(55, 53, 53);
}
span{
    padding-left: 20vw;
    padding-top: 2vh;
}
.reference{
    --border-radius: 100rem;
    --padding-inline: 5rem;
    --padding-block: 1.4rem;
    --scale: 0.2;
    text-decoration: none;
    font-size: 3vw;
    font-family: 'Rancho';
    font-weight:bolder;
    color: beige;
    background-color: rgb(104, 104, 247);
    border-radius: calc(var(--scale)*var(--border-radius));
    padding-block: calc(var(--scale)*var(--padding-block));
    padding-inline: calc(var(--scale)*var(--padding-inline));
}

