*{
    margin: 0;
    padding: 0;
    background-image: url("Firefox_wallpaper.png");
    background-attachment: scroll;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}
.bkimg{
}